.underline {
  text-decoration: underline;
}

.dashed-underline {
  border-bottom : 1px solid black;
}

@media print{
  body * {
    visibility: hidden;
    position: absolute;
    top: 0px; right: 0px;
    width:100%;
  }

  .printing {
    visibility: visible;
    position: absolute;
    top:20px; left:0px;
  }
  .printing * {
    visibility: visible;
    position: static;
  }
  
  #words-container .quiz-list{
  	overflow:visible !important;
  }

}
